
*{
	background-color: pink;
	box-sizing: border-box;
}
h1{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: blue;
}

h2{
	color: blue;
	font-style: blue;
    text-align: center;
}
h3{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: red;

}
h4{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: 9E3ACA;
}

li{
	color: blue;
	text-align: left;

}
#p1{
	font-size:18px;
    color: AB66DC;
    font-weight: normal;
    font-style: normal;
}

#p2{
	font-size:18px;
    color: green;
    font-weight: italic;
    font-style: italic;

    }
    #p3{
	font-size:18px;
    color: AB66DC;
    font-weight: normal;
    font-style: normal;
}