
*{
	background-color: pink;
	box-sizing: border-box;
}
#menu {
	background-color: blue;

}
#menu ul{
	list-style: none;
	margin:0;
	padding: 0;
}
#menu ul li {
	display: inline-block;

}
#menu ul li a {
	text-decoration: none;
	display: block;
	padding: 15px 40px
}

h1{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: blue;
}

h2{
	color: blue;
	font-style: blue;
    text-align: center;
}
h3{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: blue;

}
h4{
	font-size: 20px;
			font-weight: normal;
			font: normal;
			color: 9E3ACA;
}

li{
	color: blue;
	text-align: left;

}
#p1{
	font-size:23px;
    color: AB66DC;
    font-weight: normal;
    font-style: normal;
}

#p2{
	font-size:23px;
    color: green;
    font-weight: italic;
    font-style: italic;

    }
    #p3{
	font-size:23px;
    color: AB66DC;
    font-weight: normal;
    font-style: normal;
    }
    	a:hover{
color: blue;
background:pink;
 
}
.greenlink:hover{
	color:green;
	background: purple;
}
.product img{
	width: 200px;
}
.produc h3{
	font-size: 1.3em;
	margin-top: 3px;
	margin-bottom: 3px;

}
.card{

border-radius: 4px 
background-color: BA71EE ;
box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0  1px 2px rgba(0,0,0,0.24);


}


}
