
{
	border: 1px solid black;
}

h1{
	color: blue;
	text-align: center;
	font-size: 28px;
}

h2{
	color: yellow;
	font-family: Arial;
	font-size: 24px;
	font-style: italic;
}

h3{
	color: blue;
	font-size: 18px;
}

h4{
	color: purple;
	font-size: 16px;
	font-family: cursive;
}

body{
	background-color: pink;
	font-size: 14px;
	font-family: cursive;
	color: #000EFF;
}